<!Doctype html>
<html>
  <head>
    <title>Animation Techniques</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <main>
      <div class="altred">
        <h1> <strong> Animation Techniques Throughout History </strong> </h1>
      </div>
      <div id="navbar" class="altred">
        <!--nav bar here-->
        <a href="1_early_anim.html"> Early Animation </a>
        <br>
        <br>
        <a href="2_hand_anim.html"> Hand-Drawn </a>
        <br>
        <br>
        <a href="3_stopmotion_anim.html"> Stop Motion </a>
        <br>
        <br>
        <a href="4_3d_anim.html"> 3D Animation </a>
        <br>
        <br>
        <a href="5_Future.html"> Future Animation </a>
      </div>
        <article>
          <div class="altblue2">
            <h2>
              Hand-drawn animation
            </h2>
            <h4>
              Inception - 1890s
            </h4>
            <p>
              Hand-drawn animation consists of individual drawings or frames, which when played back one after another give the illusion of motion. Modern filmmaking in America uses the 24 frame per second standard.
            </p>
            <p>
              Doing one drawing for all 24 frames is called drawing on “Ones”. This process can quickly become time consuming and costly. 2D animators often seek ways to reduce the number of required drawings, including drawing on “twos,” or one new drawing every two frames. Clever animators can mix ones, twos, threes, and fours to effectively create the illusion of motion.
            </p>
            <div class="altblue3">
              <h4>
                Advancements
              </h4>
              <ul>
                <li> Disney, patented multiplane camera</li>
                <li>1980s and 90s digital ink and paint</li>
                <li>digital compositing</li>
              </ul>
            </div>
            <div class="altblue2">
              <h4>
                Stand-Out Examples
              </h4>
              <ul>
                <li>First hand-drawn animated feature, Snow White and the Seven Dwarves, Disney, 1937</li>
                <li>Gertie the Dinosaur</li>
                <li>Fleischer Brothers, early 3D integration</li>
                <li>Akira</li>
                <li>Spirited Away</li>
                <li>Persepolis</li>
                <li>Ghost in the Shell</li>
              </ul>
            </div>
            <div class="altblue3">
              <h4>
                Subsets
              </h4>
              <ul>
                <li>Paint on Glass</li>
                <li>Rotoscoping</li>
                <li>Digital Hand-Drawn</li>
                <li>Pixel animation</li>
              </ul>
            </div>
          </div>
        </article>
      <div class="altblue3">
        <img src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/12799313_10154025003209883_2481051224446721139_n.jpg?_nc_cat=0&oh=cad849b2dcb58c1d6b8b28ff1e616153&oe=5C34B971" width=300 height=300>
        <p>
          Jeff Morice, Artist and Animator
          <br><br>
          He plans to learn C# to develop animated VR experiences.
          <br>
          That may change. People say there are more JS jobs.
        </p>
      </div>
    </main>
  </body>
  <footer>
    &copy Jeff Morice
  </footer>
</html>
