<html>
  <head>
    <title>Animation According To--</title>
  </head>
  <body>
    <main>
      <h1>Jeff's Animation History in 3-10 paragraphs</h1>
      <p>
        1. Like many kids growing up between 1990 and 2010, I consumed a <strong>lot</strong> of animated media. Most of it was garbage. Some of it was brilliant. It was ubiquitous, on TV when that was a thing, in theaters (please don't let those stop being a thing), and in video games. Although I was glued to the TV almost every Saturdy morning, animation was largely a background element in my life.
        <br>
        <br>
        Several factors crashed together to push me off the couch and toward a career in animation. A hectic home life and busy school schedule caused me to feel out of control. Then in the face of all the beautiful, painstakingly crafted 2D work I'd seen, the 3D animation in Shrek was the subject to pique my interest in animation. Embarrassing. Together with a healthy exposure to fantasies of Virtual Reality, these influences led me to believe animation was a space where I could have the control I lacked in my life and could maybe one day provide an escape into another reality.
      </p>
      <p>
        2. Looking back on that thrilling moment, a hearty, bittersweet laugh is warranted. Although I entered college armed with experience in both 2D and 3D animation software, certain Real Realities came to bear against my optimistic expectations.
        <br>
        <br>
        Adult life brought unforeseen challenges, including the freedom of control. I learned control could be both liberating and restrictive. I was able to decide how to handle my time, what to eat, who to socialize with, when to sleep, to take on too much.
        <br>
        <br>
        Overall, my time inside the alternate-reality that was college (the "Art Bubble," we called it) was incredibly fufilling and I wouldn't trade it. I would go back and work harder at making friends if I could, at polishing complete assignments into portfolio pieces, and otherwise reallocate time. It was there I fell in love with hand-drawn animation and with my future wife. I learned some hard lessons which inform my life today.
      </p>
      <p>
        3. VR became a thing as school was ending. The safety net was gone. But I had so much more learning to do. The past 5 years have been about trying to make space and time in life for that.
      </p>
      <p>
        4. VR and coding are the future of animation for me.
      </p>
      <div>
        <img src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/12799313_10154025003209883_2481051224446721139_n.jpg?_nc_cat=0&oh=cad849b2dcb58c1d6b8b28ff1e616153&oe=5C34B971" width=300 height=300>
        <p>
          Jeff Morice, Artist and Animator
          <br></br>
          He plans to learn C# to develop animated VR experiences. That may change. People say there are more JS jobs.
        </p>
      </div>
    </main>
  <body>
  <footer>
    &copy Jeff Morice
  </footer>
</html>
